* {
    color: black;
    text-decoration: none;
    font-size: 16px;
}


html {
    max-width: 1200px;
    margin: auto;
    background-color: aliceblue;
}

.site {
    background-color: rgb(144, 203, 255);
    padding: 1em;
}


.bt {
    border: 2px black solid;
    background-color: aliceblue;
    border-radius: 80px;
    transition: background-color 500ms;
}

.bt:hover {
    background-color: rgb(0, 136, 255);

}

.selector > p {
    display: flex;
    flex-direction: row;
}



.selector > p > img {
    display: block;
    height: 2em;
    padding-left: 1em;
}


/*Pagina*/

.content {
    min-height: 8em;
    padding: 1em;
}

.pagina-img {
    display: block;
    height: 8em;
    float: left;
}